
*{
    padding:0;
    margin:0;
    font-family:sans-serif;
    box-sizing: border-box;
    
    
}
.menu{
    position:relative;
    height : 100vh;
    width:100%;
    background-color: white;
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left:8%;
    padding-right: 8%;

}
.logo{
    color: black;
    font-size: 35px;
    letter-spacing:1px;
    cursor: pointer;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color: black;
    text-decoration: none;
}



.outter{
    height : 104vh;
    width:100%;
    background-color: white;
}
img{
    float:left;
    width:50%;
    height:100vh;
}
.inner{
    text-align: center;
    float:left;
    justify-content: space-between;
    width:50%;
    line-height: 50px;
    font-size: large;
    height:100vh;
    background-color: white;
    padding:5%;
 
    
}
h1, h2{
    text-align: center;
}

p{
    text-align: center;
    text-overflow: ellipsis;
    font-size: x-large;

}
#CalCourses{
    visibility: hidden;
}
#CAL{
 
    background-image: url("images/calpic.jpeg");
    background-size: cover;
    visibility: visible;

}

#northwood{
    visibility: hidden;
}
#northwoodDiv{
 
    background-image: url("images/IMG_0812.JPG");
    background-size: cover;
    visibility: visible;
   
}


button{
    padding: 14px 40px;
    color: whitesmoke;
}
button:hover {
   
    border-radius: 0%;
    size: 5in;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
#work::before,
#work::after{
  content: "";
  position:absolute;
  top:31.5%;
  right:33%;
  bottom: 1in;
  left: 30%;
}

#work::before {
    background: white;
    animation: typewriter 6s steps(20) 1s forwards;
  }
  
#work::after {
    
    
    background: white;
    animation: typewriter  6s steps(20) 1s forwards;
     
  }
  @keyframes typewriter {
    to {
      left:67%;
    }
  }
#aboutMe {
    
    scroll-behavior: smooth;
    scrollbar-color: black;
    scrollbar-width: 2in;
    overflow-y: scroll;
    
}
#projects #buttons{
    
    margin-top: .2in;
    padding-left: 5.55in;
    background-color: white;
}
#projects #buttons button{
    color: black;
    background-color: white;
    border: .1in black;
}
#InsideSectionOfProjects{
    
   
  background-color: white;
  overflow-x:scroll;
  overflow-y:scroll;
    
    
    
    scrollbar-width: .1in;
    scrollbar-color: grey;
    scroll-behavior: smooth;
    margin-left:36.5%;
    margin-right: 25%;
  
    width:40%;
    height:1.8in;
}
.ProjectBlocksJava{
    
    background-color: grey;
    display:block;
}
#PythonSection{

  
    display:none;
}
#JavaSection{
  
    display:none;
}
#WebSection{
   
    display:none;
}

.Projectsection{
    
  
    float:left;
    display:contents;
    background-color: grey;
    width: 60%;
    height:1.8in;
    
    
   
}


#InsideSectionOfProjects>.Projectsection>div>h1{
    
   background-color: white;
   width: 100%;
   height: .3in;
    font-size: large;
    text-align: center;
}

#InsideSectionOfProjects>.Projectsection>div>p{
    
    padding-top: .2in;
    width: inherit;
    height:1.2in;
    font-size: medium;
    text-align: center;
    background-color: white;
}


.personalInfo{
    
    background-color: black;
    color: azure;
    float: left;
    width: 60%;
    
    
}

#AbourMeHeader{
    background-image: linear-gradient(darkblue, rgba(0, 0, 0, 0.836));
    color: azure;
    font-size: medium;
    text-align: center;
    padding: .25in;
    

}
.songSection{
    background-color:black;
    width: 100%;
    height: 1in;
    
    
}

#heartEmoji{
    color: transparent;  
    text-shadow: 0 0 0 grey;
    background-color: black;
    border-style: hidden;
    height: 1in;
    width: 10%;
    float: inline-end;
    padding-top: .25in;
    padding-right: 3%;

}
.question{
    color:lightgray;font-size: large; margin-top: .1in ; height: .3in; width: 4in;text-align: left;
}
.answer{
    
    color: grey;font-size: medium; height:.5in; width: 100%;text-align: left;margin-left: .2in;
}
.albumCover{
    max-width: fit-content;
   margin-top: .2in;
   margin-left:.1in;
    margin-right:.1in;
    width: 30%; height: .8in; float:inline-start; padding-bottom: .2in; 
}
a {
    color: darkgray;
    
}
                
